html {
	height: 100%;
}

body {
	height: 100%;
	overflow: hidden;
}	

h1 {
	margin: 0 auto;
	font-family: 'Walter Turncoat', cursive;
}

h2 {
	font-family: 'Walter Turncoat', cursive;
	font-size: 18px;
	margin-top: 0px;
}

h3 {
	font-family: 'Walter Turncoat', cursive;
	font-size: 15px;
	margin: 0 auto;
}

a {
	color: #000000;
}
a:visited {
	color: #000000;
}
a:hover {
	color: #008000;
}

#container {
	text-align: center;
	height: 100%;
	background: #efefef;
}

#header {
	border-bottom: 1px #afafaf solid;
	height: 48px;
	background: #ffffff;
}

	#header_right {
		padding: 10px; 
		position: absolute; 
		right: 0px; 
		text-align: left;
	}

#content {
	width: 100%;
	text-align: left;
	position: absolute;
	top: 48px;
	bottom: 0px;
}

	/* help overlay */
	#content_overlay {
		display: none;
		overflow: scroll;
		height: 100%;
		margin: 0 auto;
		padding: 8px 10% 0 10%;
		text-align: left;
	}

		#content_overlay table td {
			padding: 6px;
			border: 1px #ffffff solid;
		}
		#content_overlay table tr:nth-child(2n+1) {
			background: #ffffff;
		}
		#content_overlay table td:nth-child(1) {
			font-weight: bold;
		}

        .modal-background {
            position: fixed;
            z-index: 1;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: #000000;
            opacity: 0.4;
        }

        .modal-body {
            position: absolute;
            z-index: 2;
            height: 80%;
            width: 550px;
            left: 50%;
            top: 10%;
            margin-left: -275px;
            border: 1px #efefef solid;
            border-radius: 2px;
            text-align: left;
            background: #ffffff;
        }
        @media all and (max-height: 610px) {
            .modal-body {
                height: 100%;
                top: 0;
            }
        }
        @media all and (max-width: 690px) {
            .modal-body {
                width: 90%;
                left: 5%;
                margin-left: 0;
            }
        }

            .modal-body-spacing {
                padding: 16px;
            }

                .close {
                    float: right;
                    cursor: pointer;
                }

	#content_tasksvg
	{
		background: #efefef;
		position: relative;
		text-align: center;
		margin: 0 auto;
	}
	
	#content_tasksvg_group {
		margin: 0 auto;
		text-align: center;
	}
	
		#content_tasksvg_bg {
			fill: transparent;
		}	
		.content_tasksvg_task_box {
			fill: #ffffff; 
			stroke-width: 2;
			stroke: #afafaf;
            cursor: pointer;
		}
		.pending .content_tasksvg_task_box {
			fill: #f1f1f1; 
			stroke-width: 1;
			stroke: #cfcfcf;
		}
		.content_tasksvg_task_text {
			fill: #afafaf;
			font-size: 13px;
            cursor: pointer;
		}
		.content_tasksvg_task_textfield_form {
			font-size: 13px;
		}
		.content_tasksvg_task_close {
			fill: #afafaf;
			cursor: pointer;
		}
		.content_tasksvg_task_updown, .content_tasksvg_task_minimize {
			fill: #afafaf;
			cursor: pointer;
		}
		.content_tasksvg_connector { 
			stroke-width: 1;
			stroke: #cfcfcf;
		}
		.pending .content_tasksvg_connector {
			stroke-width: 1;
			stroke: #cfcfcf;
		}
		
		/* The container for the form to edit a task */
		.content_tasksvg_task_textfield_container {
			height: 99%;
			width: 99%;
			background: #ffffff;
			border: 1px #cfcfcf solid;
			border-radius: 8px;
		}

#footer {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	padding: 4px;
	position: fixed; bottom: 0px;
	color: #afafaf;
	background: #efefef;
}
#footer a {color: #afafaf;}

.editable {
    cursor: pointer;
    clear: both;
}
.editable:hover {
    color: #008000;
    transition: 0.5s;
}

.editable-controls {
}

    .editable-controls button {
        width: 80px;
        height: 30px;
        border: 1px #afafaf solid;
        border-radius: 4px;
        background: #ffffff;
        color: #afafaf;
    }
    .editable-controls button:hover {
        background: #008000;
        color: #ffffff;
    }

    .editable-controls .edit {
        padding: 2px;
        border: 1px #afafaf solid;
        border-radius: 2px;
        margin-bottom: 12px;
        width: 100%;
    }

.hidden {
    display: none;
}

