html {
	height: 100%;
}

body {
	height: 100%;
	overflow: hidden;
}	

h1 {
	margin: 0 auto;
    text-decoration: none;
}
h1 a {
    text-decoration: none;
}

h2 {
  font-size: 1rem;
	margin-top: 0px;
}

h3 {
	font-size: 1.2rem;
	margin: 0 auto;
}

a {
	color: #000000;
}
a:visited {
	color: #000000;
}
a:hover {
	color: #008000;
}

button, a.button {
    display: inline-block;
    min-width: 80px;
    height: 30px;
    border: 1px #afafaf solid;
    border-radius: 4px;
    line-height: 1.9rem;
    padding: 0 12px;
    background: #ffffff;
    color: #afafaf;
    text-decoration: none;
}
button:hover, a.button:hover {
    background: #008000;
    color: #ffffff;
}

#container {
	text-align: center;
	height: 100%;
	background: #efefef;
}

#header {
	border-bottom: 1px #afafaf solid;
	height: 47px;
	background: #ffffff;
}

  .logo {
    position: absolute;
    width: 100%;
  }

    .logo a {
        display: inline-block;
        width: 210px;
        height: 36px;
        margin: 6px 0 0 0;
        background: url('../images/logo.png');
        color: transparent;
    }

    @media all and (max-width: 690px) {
        .logo {
            text-align: left;
        }

        .logo a {
            margin: 6px 0 0 6px;
        }
    }

	#header_right {
    position: relative;
    float: right;
    height: 100%;
		text-align: left;
	}

  .nav {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav li {
     height: 100%;
  }

    .nav-button {
      display: inline-block;
      padding: 13px 20px 12px 20px;
      text-decoration: none;
    }
    .nav-button:hover {
      background: #f5f5f5;
    }

#content {
	width: 100%;
	text-align: left;
	position: absolute;
	top: 48px;
	bottom: 0px;
}

	/* help overlay */
	#content_overlay {
		display: none;
		overflow: scroll;
		height: 100%;
		margin: 0 auto;
		padding: 8px 10% 0 10%;
		text-align: left;
	}

    #content_overlay .back {
      width: 100%;
      margin-bottom: 60px;
      text-align: center;
    }

		#content_overlay table td {
			padding: 6px;
			border: 1px #ffffff solid;
		}
		#content_overlay table tr:nth-child(2n+1) {
			background: #ffffff;
		}
		#content_overlay table td:nth-child(1) {
			font-weight: bold;
		}

        .modal {
            position: fixed;
            z-index: 1;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            overflow-y: auto;
            background: rgba(0, 0, 0, 0.4);
        }

        .modal-body {
            position: relative;
            z-index: 2;
            min-height: 60%;
            width: 550px;
            left: 50%;
            margin-top: 64px;
            margin-bottom: 64px;
            margin-left: -275px;
            border: 2px #afafaf solid;
            border-radius: 16px;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
            text-align: left;
            background: #ffffff;
        }
        @media all and (max-height: 610px) {
            .modal-body {
                min-height: 280px;
                margin-top: 32px;
                margin-bottom: 32px;
            }
        }
        @media all and (max-width: 690px) {
            .modal-body {
                width: 90%;
                left: 5%;
                margin-left: 0;
            }
        }

            .modal-body-spacing {
                padding: 16px;
            }

                .modal-body-spacing .iconbar {
                    overflow: auto;
                    margin-bottom: 8px;
                }

                    .modal-body-spacing .icon {
                        float: right;
                        margin: 0 6px;
                        cursor: pointer;
                    }
                    .modal-body-spacing .icon:hover {
                        color: #008000;
                    }

                    .modal-body-spacing .icon.archive {
                        color: #ff0000;
                    }

	#content_tasksvg
	{
		background: #efefef;
		position: relative;
		text-align: center;
		margin: 0 auto;
	}
	
	#content_tasksvg_group {
		margin: 0 auto;
		text-align: center;
	}
	
		#content_tasksvg_bg {
			fill: transparent;
		}	
		.content_tasksvg_task_box {
			fill: #ffffff; 
			stroke-width: 2;
			stroke: #afafaf;
            cursor: pointer;
		}
		.pending .content_tasksvg_task_box {
			fill: #f1f1f1; 
			stroke-width: 1;
			stroke: #cfcfcf;
		}
		.content_tasksvg_task_text {
			fill: #afafaf;
			font-size: 13px;
            cursor: pointer;
		}
		.content_tasksvg_task_textfield_form {
			font-size: 13px;
		}
		.content_tasksvg_task_close {
			fill: #afafaf;
			cursor: pointer;
		}
		.content_tasksvg_task_updown, .content_tasksvg_task_minimize {
			fill: #afafaf;
			cursor: pointer;
		}
		.content_tasksvg_connector { 
			stroke-width: 1;
			stroke: #cfcfcf;
		}
		.pending .content_tasksvg_connector {
			stroke-width: 1;
			stroke: #cfcfcf;
		}
		
		/* The container for the form to edit a task */
		.content_tasksvg_task_textfield_container {
			height: 99%;
			width: 99%;
			background: #ffffff;
			border: 1px #cfcfcf solid;
			border-radius: 8px;
		}

#footer {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	padding: 4px;
	position: fixed; bottom: 0px;
	color: #afafaf;
	background: #efefef;
}
#footer a {color: #afafaf;}

  #footer h3 {
    font-size: 1rem;
  }

.editable {
    cursor: pointer;
    clear: both;
}
.editable:hover {
    color: #008000;
    transition: 0.5s;
}

.editable-controls {
}

    .editable-controls .edit {
        padding: 2px;
        border: 1px #afafaf solid;
        border-radius: 2px;
        margin-bottom: 12px;
        width: 100%;
        height: 24px;
    }

    .editable-controls .edit.long {
        height: 90px;
    }

.hidden {
    display: none;
}

