@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?vmipp9');
	src:url('fonts/icomoon.eot?#iefixvmipp9') format('embedded-opentype'),
		url('fonts/icomoon.woff?vmipp9') format('woff'),
		url('fonts/icomoon.ttf?vmipp9') format('truetype'),
		url('fonts/icomoon.svg?vmipp9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
	content: "\e600";
}
.icon-plus:before {
	content: "\e602";
}
.icon-minus:before {
	content: "\e601";
}
.icon-arrow-up:before {
	content: "\e603";
}
.icon-arrow-down:before {
	content: "\e604";
}
.icon-checkmark:before {
	content: "\e605";
}
.icon-checkmark2:before {
	content: "\e606";
}
.icon-undo:before {
	content: "\e607";
}
.icon-remove:before {
	content: "\e608";
}
